In [1]:
import numpy as np
import pandas as pd

In [32]:
jeodata = pd.read_csv('JEOPARDY_CSV.csv')

In [33]:
jeodata.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [50]:
# jeodata["id"]=range(1,len(jeodata)+1)
jeodata.columns = ['Show Number', 'Air Date', 'Round', 'Category', 'Value',
       'Question', 'Answer', "id"]
jeodata['Round'].head(5)

0    Jeopardy!
1    Jeopardy!
2    Jeopardy!
3    Jeopardy!
4    Jeopardy!
Name: Round, dtype: object

In [39]:
def combine_all(a):
    return a['Round']+ ' ' + a["Category"]+ ' ' + a["Question"]+ ' ' + a["Answer"]
jeodata["combined"]=jeodata.apply(combine_all)

KeyError: ('Round', 'occurred at index level_0')

In [21]:
jeodata.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,id
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,1
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,2
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,3
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,4
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,5

In [38]:
jeodata=jeodata.reset_index()
jeodata=jeodata.set_index('id')

ValueError: cannot insert level_0, already exists

In [54]:
jeodata['combined']= jeodata["Round"]+ ' '+jeodata["Category"]+ ' '+jeodata["Question"]+ ' '+jeodata["Answer"]

In [52]:
jeodata.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer', 'id', 'combined'],
      dtype='object')

In [47]:
jeodata=jeodata[['Show Number', ' Air Date', ' Round', ' Category',
       ' Value', ' Question', ' Answer', 'id']]

In [55]:
jeodata.head(5)

,Show Number,Air Date,Round,Category,Value,Question,Answer,id,combined
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,1,Jeopardy! HISTORY For the last 8 years of his ...
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,2,Jeopardy! ESPN's TOP 10 ALL-TIME ATHLETES No. ...
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,3,Jeopardy! EVERYBODY TALKS ABOUT IT... The city...
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,4,"Jeopardy! THE COMPANY LINE In 1963, live on ""T..."
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,5,Jeopardy! EPITAPHS & TRIBUTES Signer of the De...

In [59]:
from nltk.corpus import stopwords
import re
stop_words = stopwords.words("english")

In [57]:
import nltk

In [58]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/premsagar/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [64]:
def text_converter(text):
    text = re.sub('[^a-z/s]',' ', text.lower())
    text = [w for w in text.split() if w not in set(stop_words)]
    return ' '.join(text)

In [65]:
jeodata["combined"] = jeodata['combined'].fillna("")
jeodata["combined_processed"]= jeodata["combined"].apply(text_converter)

In [66]:
jeodata["combined_processed"].head(5)

0    jeopardy history last years life galileo house...
1    jeopardy espn top time athletes olympian footb...
2    jeopardy everybody talks city yuma state recor...
3    jeopardy company line live art linkletter show...
4    jeopardy epitaphs tributes signer dec indep fr...
Name: combined_processed, dtype: object

In [68]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.snowball import SnowballStemmer

root_stemmer = SnowballStemmer("english")

analyzer = CountVectorizer().build_analyzer()

def rooting(text):
    return (root_stemmer.stem(w) for w in analyzer(text))

count = CountVectorizer(analyzer = rooting)

In [69]:
count_matrix = count.fit_transform(jeodata["combined_processed"])

In [70]:
from sklearn.feature_extraction.text import TfidfTransformer

In [71]:
tfidf_trans = TfidfTransformer()
get_tfidf = tfidf_trans.fit_transform(count_matrix)

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [79]:
def get_data(query):
    query = text_converter(query)
    query_matrix = count.transform([query])
    query_tfidf = tfidf_trans.transform(query_matrix)
    similarity_score = cosine_similarity(query_tfidf,get_tfidf)
    sorted_index = np.argsort(similarity_score).tolist()
    return jeodata[["Question","Answer"]].iloc[sorted_index[0][-10:]]

In [80]:
get_data("india")

                                                 Question         Answer
92946   What's called India ink didn't come from India...          China
163925  This capital of the state of West Bengal is In...       Calcutta
137185  Until 1912 it was the capital of British India...       Calcutta
147472  India became independent 1 day after this coun...       Pakistan
100894                          Pakistan, India, Mongolia          India
10538                         Pakistan, India, Bangladesh          India
139053                             India, Italy,  Iceland          India
110280                               Iceland, India, Iran          India
59291                                India, China, Russia          India
11373   Under the East India Company & then the govern...  Great Britain

In [81]:
from sklearn.externals import joblib
joblib.dump(count,"jeodata_count.pkl")
joblib.dump(tfidf_trans,"jeodata_transformer.pkl")
joblib.dump(get_tfidf,"jeodata_getTfidf.pkl")

['jeodata_getTfidf.pkl']

In [82]:
jeodata.to_pickle('jeodata.pkl')

NameError: name 'ipython' is not defined